body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.fa-thermometer-half {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
body.humidity-page {
    background-color: gray;
}
body.temperature-page {
    background-color: crimson;
}
body.uv-page {
    background-color: darkkhaki;
}
body.wind-page {
    background-color: powderblue;
}


main {
    margin-top: 20px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}
thermometer-half {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}